
section {
    margin: 0 auto;
    max-width: 960px;
    padding: 2rem 0;
}

section:first-child {
    padding-top: 3rem;
}

.container {
    padding: 0 16px;
}

article {
    clear: both;
    padding: 2rem 0;
}

article:after {
    content: "";
    display: table;
    clear: both;
}

.side + .side {
    margin-top: 1rem;
}

@media (min-width: 600px) {
    .side {
        float: left;
        width: 50%;
    }

    .side:first-child {
        padding-right: 1.5rem;
    }
    .side:last-child {
        padding-left: 1.5rem;
    }

    .side p {
        max-width: 80ch;
    }


    article {
        clear: both;
        padding: 4rem 0;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1 {
    padding-bottom: 1rem;
}

h2 {
    padding-bottom: 1rem;
}

h3 {
    padding-bottom: 1rem;
}

ul {
    list-style: initial;
    padding-left: 1.25rem;
}

p, li {
    padding-bottom: 1rem;
    max-width: 350px;
}

strong {
    font-weight: 600;
}